@charset "utf-8";

/* web */
@media screen and (min-width:1025px) {
    #headerWrap {
        height : 120px;
        margin-left : 2.5%;
    }
    #headerWrap #TopColor {
        width : 1440px;
        height: 50px;
        background-color: rgb(247, 238, 226);
    }
    #headerWrap #titleBox {
        text-align: center;
        display: inline-flex;
        margin-left: 5%;
        width : 95%;
    }
    #headerWrap #titleBox #title {
        color: rgb(68, 53, 30);
    }
    #headerWrap #titleBox #plan_funding {
        text-align: center;
        margin-top : 2.1%;
        margin-left : 5%;
    }
    #headerWrap #titleBox #do_funding {
        text-align: center;
        margin-top : 2.1%;
        margin-left : 4%;
    }
    #headerWrap #titleBox #mypage {
        text-align: center;
        margin-top : 2.1%;
        margin-left : 4%;
    }
    #headerWrap #titleBox #search {
        height : 35px;
        width : 250px;
        border : 1px solid #bbb5b7;
        border-radius: 5px;
        margin-top : 1.5%;
        margin-left : 12%;
    }
    #headerWrap #titleBox #search #s_box {
        font-size : 13px;
        padding : 9px;
        border : 0px;
        outline : none;
        float : left;
    }
    #headerWrap #titleBox #search #s_img {
        margin-top : 9px;
        margin-right : -30px;
    }
    #headerWrap #titleBox #login {
        text-align: center;
        margin-top : 2.1%;
        margin-left : 4%;
    }
    #headerWrap #titleBox #join {
        text-align: center;
        margin-top : 2.1%;
        margin-left : 4%;
    }
    #headerWrap #titleBox #fund_box {
        border : 1px solid rgb(148, 117, 77);
        text-align : center;
        margin-left : 4%;
        margin-top : 1.7%;
        width : 80px;
        height : 30px;
    }
    #headerWrap #titleBox #fund_box #open_funding {
        margin-top : 6%;
        color :rgb(148, 117, 77);
    }

    main{
        width : 100%;
        background: #eee;
    }

    .wrap{
        width : 80%;
        margin:0 auto;
        background: #ebfaff;
        border-radius: 20px;
    }

    #profile .left{
        width:100%;
    }

    .left img{
        width:200px;
        height:200px;
        border-radius:50%;
        margin:50px 50px 20px;
        box-shadow: 5px 15px 30px rgba(173,216,230,0.8);
    }

    .left h1{
        font-weight:bold;
        font-size:2.5rem;
        color: #555;
        margin-left: 80px;
        margin-bottom: 30px;
    }

    .state{
        display:inline-block;
        width:60px;
        height:25px;
        margin-left:55px;
        background: #eee;
        border-radius:16px;
        font-weight:bold;
        font-size:1.5rem;
        line-height: 25px;
        text-align: center;
    }

    .right{
        margin-left: 400px;
        margin-top:-250px;
    }

    .feature i{
        font-size: 2rem;
    }

    .feature h3{
        margin-top:10px;
        margin-bottom:10px;
        font-size:2rem;
    }

    .btnFollow{
        display: block;
        width:350px;
        height:35px;
        margin:20px 0px;
        background:rgb(133, 237, 255);
        border-radius:16px;
        font-weight: bold;
        font-size:2rem;
        color:rgb(236, 100, 100);
        line-height: 35px;
        text-align: center;
    }

    #my_list{
        margin-top:150px;
        margin-left:50px
    }

    .funding_story{
        width:300px;
        height:35px;
        background:#eee;
        border-radius:20px;
        line-height:35px;
        text-align: center;
        font-weight:bold;
        font-size:1.3rem;
        margin-bottom: 50px;
    }

    .funding_list{
        width:100%;
    }

    .funding1 #img1{
        display:block;
        width:357px;
        height: 211px;
    }

    .funding1 span{
        margin-top:5px;
        font-size:1.5rem;;
    }

    .funding1 span strong{
        margin-left:30px;
        color:red;
    }

    .funding1 p{
        font-size:1.2rem;
    }

    .funding1 p b{
        color:red;
    }

    .me_fund{
        width:120px;
        height:20px;
        background:#eee;
        border-radius:20px;
        line-height:20px;
        text-align: center;
        font-weight:bold;
        font-size:1.1rem;
        margin-top: 20px;
        margin-left:230px;
    }

    .funding2{
        margin-left: 450px;
        margin-top: -295px;
    }

    .funding2 img{
        display:block;
        width:357px;
        height: 211px;
    }
    .funding2 span{
        margin-top:10px;
        font-size:1.5rem;;
    }

    .funding2 span strong{
        margin-left:30px;
        color:red;
    }

    .funding2 p{
        font-size:1.2rem;
    }

    .funding2 p b{
        color:red;
    }

    .me_fund{
        width:120px;
        height:20px;
        background:#eee;
        border-radius:20px;
        line-height:20px;
        text-align: center;
        font-weight:bold;
        font-size:1.1rem;
        margin-top: 20px;
        margin-left:230px;
    }




}