@charset "utf-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:0.625em;
    line-height:1;
}

body{
    font-family:arial;
}

a{
    text-decoration:none;
    color:#000;
}

li{
    list-style:none;
}

.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

.screen_out{
    position:absolute;
    top:-999em;
    left:-999em;
}